DEBUG=True
APP_DOMAIN=localhost:9000
SERVER_WORKERS=3
WORKER_TIMEOUT=180
DB_URL=sqlite:////app/database/db.sqlite3
DJANGO_SUPERUSER_USERNAME=mimir
DJANGO_SUPERUSER_PASSWORD=mimirum
DJANGO_SUPERUSER_EMAIL=mimir@example.com
ACCOUNT_EMAIL_VERIFICATION=none
ACCOUNT_EMAIL_REQUIRED=False
EMAIL_HOST=smtp
EMAIL_PORT=8025
EMAIL_HOST_USER=userone
EMAIL_HOST_PASSWORD=passwordone
EMAIL_USE_TLS=True
EMAIL_FROM=webmaster@mimir-test.nbis.se
